.contacts {
    position: relative;
    padding: 120px 0 90px 0;
    background-color: #000;
    &__wrapper {
        padding: 0 35px 0 52px;
        display: grid;
        grid-template-columns: 400px 585px;
        justify-content: space-between;
    }
    &__photo {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__descr {
        padding-top: 6px;
        .divider {
            margin: 0;
        }
    }
    &__title {
        position: relative;
        @include before_circle;
        padding-left: 12px;
        padding-top: 1px;
    }
    &__text, &__social {
        margin-top: 20px;
    }
    &__link {
        text-decoration: none;
        padding-right: 25px;
        img {
            max-width: 30px;
            max-width: 30px;
        }
    }
    &__form {
        margin-top: 29px;
        display: grid;
        grid-template: 45px 190px 45px / repeat(2, 280px);
        justify-content: space-between;
        row-gap: 32px;
        label {
            display: block;
            position: absolute;
            height: 18px;
            padding: 0 8px;
            background-color: #000;
            font-weight: 500;
            font-size: 12px;
            top: -9px;
            left: 12px;
            // border-top: 2px solid white;
            border-radius: 10px;
        }
    }
    &__triggers {
        grid-column: 1 / 3;
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 35px;
    }
    &__policy {
        font-weight: 500;
        font-size: 12px;
        display: flex;
        align-items: center;
        input {
            margin-right: 10px;
        }
        span {
            color: #fff;
            a {
                color: $main-color;
            }
        }
    }
    &__input {
        position: relative;
        input {
            width: 100%;
            height: 100%;
            padding: 0 20px;
            font-weight: 500;
            font-size: 12px;
            border-radius: 10px;
        }
    }
    &__textarea {
        position: relative;
        grid-column: 1 / 3;
        textarea {
            width: 100%;
            height: 100%;
            resize: none;
            padding: 20px;
            font-weight: 500;
            font-size: 12px;
            border-radius: 10px;
        }
    }
    &__btn {
        border: none;
        font-weight: 700;
        font-size: 14px;
    }
}