@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .nav {
        margin: 0 5.5rem;
    }
    .promo {
        padding-top: 80px;
        &__title {
            margin-left: 10px;
        }
        &__subtitle {
            margin-top: 20px;
            margin-left: 10px;
        }
        &__btns {
            margin-left: 10px;
            margin-bottom: 20px;
            margin-top: 20px;
        }
    }
    .about {
        &__wrapper {
        grid-template-columns: 400px 520px;
        column-gap: 40px;
        }
        &__skills {
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
            column-gap: 20px;
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2, auto);
            
            column-gap: 100px;
        }
        &__item {
            &:before {
                content: '';
                width: 42px;
            }
            &-icon {
                left: 42px;
            }
            &-head {
                padding: 45px 0 0 97pxpx;
            }
        }
    }
    .skills {
        &__items {
            grid-template-columns: repeat(auto-fit, 270px);
            justify-content: space-between;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit, 350px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: space-between;
            padding: 0 30px;
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 320px;
            justify-content: space-around;
            row-gap: 40px;
            .horizonal, .vertical {
            grid-row: unset;
            grid-column: unset;
            }
        }
    }
    .contacts {
        &__wrapper {
            padding: 0;
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__form {
            grid-template: 45px 190px 45px / repeat(2, 250px);
        }
    }
    .title-white__fz48 {
        // display: inline;
        font-size: 40px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .nav {
        margin: 0 3.5rem;
    }
    .title {
        &_fz36 {
            font-size: 30px;
        }
    }
    .divider {
        margin: 15px auto 0 auto;
    }
    .promo {
        &__btns {
            justify-content:flex-start;
            grid-row: 20px;
        }
        &__scroll-wrap {
            margin: 0;
        }
    }
    .about {
        &__wrapper {
            grid-template-columns: 300px 380px;
            row-gap: 30px ;

        }
        &__img {
            width: 300px;
            height: 300px;
        }
        &__skills {
            grid-template-columns: 380px;
            grid-auto-rows: minmax(115px,auto);
            &_item {
                grid-template-columns: 40px 320px;
                grid-template-rows: 100px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: auto;
            row-gap: 40px;
        }
        &__column {
            ul {
                li {
                    &:after {
                        top: -8px;
                    }
                }
            }
        }
    }
    .skills {
        &__items {
            padding: 0 50px;
            grid-template: repeat(3, minmax(270px, auto)) / repeat(2, 270px);
            grid-auto-rows: minmax(270px, auto);
            justify-content: space-between;
            padding: 60px 50px 0 50px;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit, 320px);
            justify-content: space-between;
            padding: 0;
            column-gap: 0;
            &-line {
                width: 100%;
            }
        }
    }
    .price {
        &__wrapper {
            padding: 0;
            grid-template-columns: repeat(auto-fit, 350px);
        }
   }
   .contacts {
        &__wrapper {
         grid-template-columns: 590px;
         justify-content: center;
        }
        &__photo {
        display: none;
        }
   }
   .title-white{
        font-size: 28px;
        line-height: 40px;
        &__fz16 {
            font-size: 16px;
            line-height: 24px;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .header {
        top: initial;
        bottom: -1px;
        box-shadow: 0 -1px 4px rgba(255, 255, 255, 0.15);
        border-radius: 20px 20px 0 0;
    }

    .nav {
        display: block;
        min-height: 46px;
        margin: 0 1.2rem;
        // bottom: -10px;
        &__menu {
            // position: fixed;
            display: block;
            max-height: 0;
            min-height: 0;
            margin: 0;
            padding-bottom: 0;
            opacity: 1;
            overflow: hidden;
            transition: all 0.3s ease-out;
        }
        &__toggle {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 52px;
        }
        &__list {
            height: 150px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 1rem;
        }
        &__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 15px;
        }
        &__logo {
            font-size: 20px;
        }
        &__icon,
        &__close,
        &__logo {
            display: block;
        }
        &__link {
            &:hover {
                color: white;
            }
        }
    }
    .promo {
        padding-top: 20px;
        &__title {
            margin-top: 10px;
        }
        &__subtitle {
            &:before {
                content: '';
                position: absolute;
                width: 30px;
                height: 30px;
                border-radius: 100%;
                background: $main-color;
                z-index: -1;
                top: -15%;
                left: 0;
            }
        }
        &__circle {
            margin: 20px 0 ;
        }
        &__btns {
            justify-content: space-between;
            column-gap: 0;
            // :nth-child(3) {
            //     margin-left: 0;
            //     margin-top: 10px;
            // }
            
        }
    }
    .about {
        padding-top: 5px;
        &__wrapper {
            grid-template: 400px auto auto / 1fr;
        }
        &__img {
            // grid-row: unset;
            display: block;
            margin: 0 auto;
            width: 400px;
            height: 400px;
        }
        &__photo {
            grid-row: unset;
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &_item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        padding: 30px 0 20px;
        &__wrapper {
            padding: 45px 50px 0 50px;
        }
    }
    .skills {
        padding: 40px 0 10px;
        &__items {
            padding: 0 50px;
            grid-template: repeat(3, minmax(270px, auto)) / repeat(1, 270px);
            grid-auto-rows: minmax(270px, auto);
            justify-content: center;
            padding: 60px 10px 0 10px;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit, 320px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: center;
            margin-top: 40px;
            &-line {
                width: 100%;
            }
        }
    }
    .portfolio {
        padding: 40px 0 0;
        &__wrapper {
            margin-top: 30px;
        }
    }
    .price {
        padding-top: 40px;
        &__wrapper {
            margin-top: 20px;
            justify-content: center;
        }
    }
    .contacts {
        &__wrapper {
         grid-template-columns: 1fr;
         justify-content: center;
         align-items: center;
        }
        &__photo {
        display: none;
        }
   }
   .title-white{
    font-size: 21px;
    line-height: 40px;
    &__fz16 {
        font-size: 15px;
        line-height: 24px;
    }
    }
    .project {
        padding: 40px 0;
        &__wrapper {
            row-gap: 15px;
        }
        &__img {
            width: 100%;
            border: 5px solid rgb(255, 255, 255, 0.9);
            border-radius: 20px;
            box-shadow: 6px -6px 100px 6px rgb(255, 255, 255, 0.8);
            img {
                border-radius: 20px;
            }
        }
        &__descr {
            width: 100%;
        }
    }

}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        &__section-subtitle {
            margin-top: 15px;
        }
        &_fz36 {
            font-size: 23px;
            line-height: 25px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        padding-top: 10px;
        background: #000;
        display: flex;
        justify-self: center;
        align-items: center;
        &__wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 86px;
        }
        &__wrap {
            width: 100%;
            margin-left: 0;
            margin-bottom: 10px;
        }
        &__btns {
            margin-top: 10px;
            :nth-child(3) {
                display: none;
            }
            :nth-child(4) {
                display: block;
            }
        }
        &__—Åircle {
            display: flex;
            margin: 0 0 10px 0;
        }
    }
    .about {
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
            column-gap: 20px;
        }
        &__img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            box-shadow: none;
            animation: none;

        }
        &__skills {
            grid-template-columns: 1fr;
        }
        &__text {
            margin-bottom: 0;
        }
    }
    .resume {
        &__wrapper {
            padding: 30px 0 0 0;
        }
    }
    .skills {
        &__items {
            margin-top: 20px;
            padding: 10px;
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit, 300px);
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 295px);
        }
    }
    .contacts {
        padding-bottom: 50px;
        &__subtitle {
            margin-top: 15px;
        }
        &__descr {
            .divider {
                margin-top: 15px;
            }
        }
        &__form {
            grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
        }
        &__textarea {
            grid-column: unset;
            width: 100%;
        }
        &__triggers {
            grid-column: unset;
            grid-template-columns: 1fr;
            column-gap: unset;
            row-gap: 20px;
            margin-bottom: 20px;
        }
        &__btn {
            order: 2;
            max-width: 220px;
            margin: 0 auto;
        }
        &__policy {
            margin: 0 auto;
            line-height: 18px;
        }
    }
    .btn2 {
        padding: 12px 20px;
    }
}

// @media (hover: hover) {
//     .nav__link:hover {
//         color: white;
//     }
// }