.promo {
    min-height: 100vh;
    position: relative;
    // background-color: #fff;
    background: url('../img/mainphoto2.jpg') no-repeat 50%/cover;
    padding-top: 150px;
    overflow: hidden;
    &__wrap {
        width: 50%;
        margin-left: 50%;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 20px;
        display: flex;
        // justify-content: end;
        align-items: start;
        flex-direction: column;
    }
    &__title {
        display: inline;
        // justify-content: start;
        // text-align: end;
        // width: 535px;
        margin-top: 10px;
        margin-left: 50px;
    }
    &__subtitle {
        display: flex;
        justify-content: start;
        text-align: left;
        position: relative;
        padding-left: 10px;
        z-index: 2;
        margin-left: 50px;
        margin-top: 50px;
        @include before_circle;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        align-items: center;
        // width: 250px;
        justify-content: space-between;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 50px;
        margin-left: 50px;
    }
    &__link {
        color: #ffffff;
        font-weight: 700;
        text-decoration: none;
        &:hover {
            color: #ffffff;
            text-decoration: none;
        }
    }
    &__scroll-wrap {
        display: flex;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
    }
    &__wheel {
        animation: scroll 2s ease infinite;
    }
    &__text {
        font-size: 14px;
        line-height: 21px;
        font-weight: 700;
        color: #ffffff;

    }
    &__arrow {
        margin: 0 5px 0 5px;
    }
    &__сircle {
        display: none;
        background: url('../img/mainphoto-mobail.jpg') no-repeat 20%/cover;
        width: 220px;
        height: 220px;
        box-shadow: inset 0 0 0 6px rgb(255, 255, 255, 0.3);
        // border-radius: 100%;
        // overflow: hidden;
        margin-top: 50px;
        margin-bottom: 50px;
        animation: promo__animation 8s ease-in-out infinite;
    }
}

@keyframes promo__animation {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(3.75rem);
    }
}