.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/main_bg.png') no-repeat 50%/cover;
    padding-top: 205px;
    &__title {
        width: 535px;
        margin-top: 10px;
    }
    &__subtitle {
        position: relative;
        padding-left: 10px;
        z-index: 2;
        @include before_circle;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        align-items: center;
        width: 250px;
        justify-content: space-between;
        font-size: 14px;
        line-height: 21px;
    }
    &__link {
        color: #ffffff;
        font-weight: 700;
        text-decoration: none;
        &:hover {
            color: #ffffff;
            text-decoration: none;
        }
    }
}