.skills {
    padding-top: 120px;
    background-color: #000;
    &__items {
        padding: 60px 10px 0 10px;
        display: grid;
        grid-template: repeat(2, minmax(270px, auto)) / repeat(4, 270px);
        grid-auto-rows: minmax(270px, auto);
        gap: 13px;
    }
    &__item {
        background-color:#fff;
        border: 1px solid #fff;
        padding: 30px 29px 25px 30px;
        border-radius: 20px;
        &-img {
            display: flex;
            align-items: center;
            min-height: 65px;
            margin-bottom: 20px;
        }
        h3 {
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 0;
        }
    }
    &__ratings {
        margin-top: 120px;
        display: grid;
        grid-template: repeat(2, minmax(70px, auto)) / repeat(3, minmax(350px, auto));
        row-gap: 35px;
        column-gap: 45px;
        &-item {
            display: grid;
            grid-template: minmax(21px, auto) 14px / 200px 35px;
            justify-content: space-between;
            align-content: space-between;
        }
        &-title {
            padding: 2px 0 0 13px;
            position: relative;

            @include before_circle;
        }
        &-counter {
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
        }
        &-line {
            width: 100%;
            height: 14px;
            background-color: #E8E4DE;
            border-radius: 4px;
            grid-column: 1 / 3;
            span {
                display: block;
                height: 100%;
                background-color: $main-color;
                border-radius: 4px;
            }
        }
    }
}