.title{
    font-weight: 700;
    color: #fff;
    font-size: 36px;
    line-height: 60px;
    margin: 0;
    padding: 0;
    z-index: 0;
    &_black {
        color: #000;
    }
    &_main-color {
        color: $main-color;
    }
    &_fz14 {
        font-size: 16px;
        line-height: 21px;
    }
    &_fz16 {
        font-size: 18px;
        line-height: 24px;
    }
    &_fz12 {
        font-size: 12px;
        line-height: 20px;
    }
    &_fz20 {
        font-size: 20px;
        line-height: 30px;
    }
    &_fz36 {
        font-size: 36px;
        line-height: 60px;
    }
    &_fz48 {
        font-size: 48px;
    }
    &__section-title {
        position: relative;
        text-align: center;
        @include before_circle;
        &:before {
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__section-subtitle {
        text-align: center;
    }
}

.title-white {
    font-weight: 700;
    color: #FFF;
    font-size: 36px;
    line-height: 60px;
    /* margin: 0;
    padding: 0; */
    z-index: 0;
    &__fz14 {
        font-size: 14px;
        line-height: 21px;
    }
    &__fz16 {
        font-size: 16px;
        line-height: 24px;
    }
    &__fz20 {
        font-size: 20px;
        line-height: 30px;
    }
    &__fz36 {
        font-size: 36px;
        line-height: 60px;
    }
    &__fz48 {
        font-size: 48px;
    }
}

.text {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    &_black {
        color: #000;
    }
    &_about {
        font-size: 14px;
        line-height: 21px;
    }
}